*{
    margin: 0;
    padding: 0;
}
body
{
    background: gray;
    
}
#particles-js{
    background-image: url('../img/image-bg.jpeg');
    background-size: cover;
    height: 100vh;
}
#particles-js h2
{
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
}